 <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
       
              <%= image_tag ( "teamwork.jpg"), :class=>"img-fluid mb-3 mb-lg-0" %>
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <div class="">
                 <p>
                 <h2>¿Por qué lo estamos publicando?</h2>
           
                    El MEVS fue creado por GESOC con el fin de ser un bien público
                     para las organizaciones de la sociedad civil en México.
                  
                  <br>
                  Desde GESOC creemos que los mecanismos de fortalecimiento 
                  <br> del tercer sector deben ser públicos y accesibles.
                  <br>
                  
                  Creemos que con los métodos adecuados, las OSCs pueden <br>
                   agenciarse de su propia profesionalización y crecimiento.
                  </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">  
            <%= image_tag ( "strategic.jpg"), :class=>"img-fluid mb-3 mb-lg-0" %>
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h2 class="text-white">El MEVS te puede ayudar a:</h2>
                  <p class="mb-0 text-white-50">   
                          Saber cuál es la contribución de tu organización 
                          frente al problema público que estás ayudando a resolver.
                        <br>
                        Identificar claramente en qué partes de tu gestión tienes
                          fortalezas y en cuáles es preciso mejorar o reforzar.
                      <br>
                        Alinear las acciones de tu organización al logro de resultados e impactos
                      </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
       <!--  <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Mountains</h4>
                  <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
</section>