<section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">¿Qué es el MEVS??</h2>
            <p class="text-white mb-4">    
                  El MEVS es una herramienta 
                      para evaluar la gestión en las OSCs desarrollada por GESOC.
               
                  Esta te permitirá saber que si tu intervención está alineada a la generación de resultados e impactos
              
            </p>
          </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
      </div>
    </section>